@using XTramileTest.Dto

@model WeatherMappingDto


<br />
<h1>Weather Information</h1>
<div class="row">
    <div class="3">Location : </div>
    <div class="9">@Model.Location</div>
</div>
<br />
<div class="row">
    <div class="3">Time : </div>
    <div class="9">@Model.Time</div>
</div>
<br />
<div class="row">
    <div class="3">Wind : </div>
    <div class="9">@Model.Wind</div>
</div>
<br />
<div class="row">
    <div class="3">Visibility : </div>
    <div class="9">@Model.Visibility</div>
</div>
<br />
<div class="row">
    <div class="3">Sky Conditions : </div>
    <div class="9">@Model.SkyCondition</div>
</div>
<br />
<div class="row">
    <div class="3">Temperatur C : </div>
    <div class="9">@Model.TemperatureC</div>
</div>
<br />
<div class="row">
    <div class="3">Temperatur F : </div>
    <div class="9">@Model.TemperatureF</div>
</div>
<br />
<div class="row">
    <div class="3">Dew Point : </div>
    <div class="9"></div>
</div>
<br />
<div class="row">
    <div class="3">Relative Humidity : </div>
    <div class="9">@Model.RelativeHumidity</div>
</div>
<br />
<div class="row">
    <div class="3">Pressure : </div>
    <div class="9">@Model.Pressure</div>
</div>


<style>

    .header {
        border: 1px solid red;
        padding: 15px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    [class*="col-"] {
        float: left;
        padding: 15px;
        border: 1px solid red;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
</style>